@import "mixin-background";
@import "mixin-position";

$ppr : 40/rem;
// =====================================================
// l header
// =====================================================
.header{
	position: relative;
	height: 88/$ppr;
	background: rgba(246,246,246,0.70);
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.30);

	.btn-back{
		@include position(absolute, 3, 9/$ppr, none, none, 20/$ppr);
		height: 70/$ppr;
		padding-left: 54/$ppr;
		line-height: 70/$ppr;
		font-size: 32/$ppr;
		color: #666666;
		letter-spacing: -0.78/$ppr;
		@include backgroundImage('../image/icon_back@2x.png', no-repeat, left, center, 44/$ppr, auto);
	}

	.title{
		margin: 0;
		font-size: 34/$ppr;
		color: #333;
		letter-spacing: -0.82/$ppr;
		line-height: 88/$ppr;
		text-align: center;
	}
}